

@*<div class="vh-100 vw-100 container d-flex flex-column justify-content-center align-items-center">
    <div>
        <h1>Admin activities are to be done here.</h1>
    </div>
</div>*@


<section>
    <div class="sidebar">
        <div class="sidebar-header" >
            Admin Center
        </div>
        <div class="sidebar-menu my-2 d-flex flex-column align-items-center">
            <div class="menu-item dropdown col-8" >
                <div class="text-light text-decoration-none">
                    Manager Users
                </div>
                <div class="dropdown-menu">
                    <div><a href="#">Add User</a></div>
                    <div><a href="#">Update User</a></div>
                    <div><a href="#">Delete User</a></div>
                </div>
            </div>
            <div class="menu-item dropdown col-8">
                <div class="text-light text-decoration-none">
                    Manager Books
                </div>
                <div class="dropdown-menu">
                    <div><a href="#">Add User</a></div>
                    <div><a href="#">Update User</a></div>
                    <div><a href="#">Delete User</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">

    </div>
</section>