@model SignInViewModel

@{
    var returnUrl = ViewBag.ReturnUrl ?? "/";
}

<section class="d-flex flex-row w-100 justify-content-center align-items-center" style="position: absolute; top: 0; height: 100%;">
    <div class="col-md-6 h-75 p-5 rounded-3 d-flex flex-column align-items-center">
        <div class="row mb-5">
            <h3>SIGNIN</h3>
        </div>
        <div class="col-12">
            <div asp-validation-summary="ModelOnly"></div>
            <form method="post" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@returnUrl">
                <div class="mb-4">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input type="text" asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label" >Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex flex-row justify-content-between mb-5" >
                    <div class="col form-check">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label class="form-check-label">Remember me</label>
                    </div>
                    <a class="col text-decoration-none text-end"  asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                </div>

                <div class="d-flex flex-column justify-content-center pb-3">
                    <button type="submit" class="btn btn-light mb-2">Submit</button>
                    <div class="col d-flex justify-content-center align-items-center small">
                        <span class="small">
                            Don't have an Account? <a class="text-decoration-none" asp-controller="Account" asp-action="SignUp">SignUp</a>
                        </span>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}