
<div class="container-fluid">
    <div class="col-md-8 d-grid gap-4 d-md-block">
        <h3>Access Denied</h3>
        <p>You do not have access to this page. If you are sure this is a mistake, reach out to your admin.</p>
    </div>
</div>